<body>
  <ion-app>
    <ion-menu menuId="second-menu" side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar >
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-router-link href="profile">
              <ion-icon name="person" side="start"></ion-icon>
              <ion-label>Profile</ion-label>
             </ion-router-link>
          </ion-item>
          <ion-item>
            <ion-router-link href="add">
              <ion-icon name="person-circle" side="start"></ion-icon>
              <ion-label>Add</ion-label>
             </ion-router-link>
          </ion-item>
          <ion-item>
            <ion-router-link href="setting">
              <ion-icon name="pencil-outline" side="start"></ion-icon>
              <ion-label>Setting</ion-label>
             </ion-router-link>
          </ion-item>
          <ion-item>
            <ion-router-link href="home">
              <ion-icon name="settings" side="start"></ion-icon>
              <ion-label>Logout</ion-label>
             </ion-router-link>
          </ion-item>
             </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content"></div>
    <div>
      <ion-searchbar></ion-searchbar>
    </div>
    <div #map id="map"></div>
      <ion-header>
        <ion-toolbar>
          <ion-buttons side="start">
            <ion-menu-button></ion-menu-button>
            <ion-title>Service Map</ion-title>
          </ion-buttons>
        </ion-toolbar>
        </ion-header>
  </ion-app>
</body>