<ion-header>
  <ion-toolbar>
    <ion-button href="home1">Home</ion-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTA2ZZ3S9Ul9g2sHCCIR6CPgwWI0woqsWHAAUnYjtZEnFDCLasX1eLcRl9Oqr5PJ4-V1cTYLJnHLh8VarI57SFP-Q&usqp=CAU&ec=45690271">
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-title>Nestle  Purelife</ion-title>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-title>jdk12345@gmail.com</ion-title>
  </ion-item>
  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-title>0872420964</ion-title>
  </ion-item>
  <ion-item>
    <ion-button href="profile1">แก้ไข</ion-button>
</ion-item>
</ion-content>
