<ion-header>
  <ion-toolbar>
    <ion-title>profile1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src ="">
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-title>  </ion-title>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-title>  </ion-title>
  </ion-item>
  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-title>  </ion-title>
  </ion-item>
  <ion-item>
    <ion-button >ตกลง</ion-button>
    <ion-button href="profile1">แก้ไข</ion-button>
</ion-item>
</ion-content>
